.mapa {
	border: 2px solid grey;
	width: 1000px;
	height: 600px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../images/zonas/base.JPG);
}

section {
	display: grid;
	align-content: center;
	justify-content: center;
}

.mapa {
	position: relative;
}

#punto-seleccionado {
	background-color: rgba(20, 236, 237, 0.2);
	width: 50px;
	height: 50px;
	border: 2px solid dodgerBlue;
	border-radius: 50%;
	display: none;
	position: absolute;
	justify-items: center;
	align-items: center;
	transform: translate(-50%, -50%);
}

#punto-seleccionado::before {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: crimson;
	content: "";

}