section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 50px;
}

section>div {
	padding: 50px;
}

section>div:nth-child(1) {
	border-right: 1px solid #1e90ff80;
}

h3 {
	color: crimson;
	border-bottom: 1px solid;
	text-align: center;
	padding: 10px;
	font-size: 22px;
}

.info-perfil>.datos {
	display: grid;
	padding: 30px 0px;
	grid-gap: 10px;
}

.info-perfil>.datos>div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.info-perfil>.datos>div>p {
	padding: 5px 5px;
}

.info-perfil>.datos>div>p:nth-child(1) {
	color: dodgerblue;
}

.info-perfil>.datos>div>p:nth-child(2) {
	border: 1px solid;
	color: #b9b9b9;
	text-align: center;
	border-radius: 2px;

}

.info-reservas .datos {
	padding: 30px 0px;
	display: grid;
	grid-gap: 10px;
}

.info-reservas .datos>div {
	display: grid;
	font-size: 14px;
	grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	justify-items: center;
	align-items: center;
}

.info-reservas .titulos {
	font-weight: bold;
	font-size: 17px;
}

.info-reservas i {
	display: grid;
	color: grey;
	border: 1px solid;
	padding: 2px;
	border-radius: 3px;
	cursor: pointer;
}

.info-reservas i:hover {
	color: black;
}