* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: grid;
	grid-template-rows: 50px 1fr;

}

header {
	background-color: #353535;
	display: grid;
	grid-template-columns: 250px auto auto;
	align-items: center;
}

header>img {
	display: grid;

	width: 250px;
}

.menu {
	width: 600px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.menu>div {
	color: white;
	display: grid;
	align-items: center;
	justify-items: center;
	cursor: pointer;
	text-shadow: 1px 1px 2px grey;
}

.usuario>.desconocido {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: flex-end;
	padding: 0px 50px;
	grid-gap: 30px;
	font-weight: bold;
	font-size: 20px;
}

.usuario button {
	color: #2677a9;
	cursor: pointer;
	font-size: 17px;
	border: none;
	background-color: transparent;
	font-weight: bold;
}

.usuario>.logeado {
	display: none;
}

.usuario button:hover {
	color: #009eff;
}

.usuario img {
	width: 30px;
	height: 25px;
	cursor: pointer;
}

.usuario>.logeado {

	grid-auto-flow: column;
	justify-content: right;
	grid-gap: 30px;
	padding: 10px 50px;
}

.usuario>.logeado>p {
	font-weight: bold;
	font-size: 20px;
	color: #f8313f;
}

.usuario>.logeado>img:hover {
	transform: translateX(2px);
}